@{
    ViewBag.Title = "Services";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/LampesImage1200300.jpg" class="img-responsive">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Ismaelo Technology</h2>
            <p>
                Ismaelo offers programming and development services for building web-based applications using ASP.NET MVC and ASP.NET WebForms.
            </p>
            <p>
                <ul>
                    <h3> Platforms and Technologies used </h3>
                    <li> <b> ASP.NET WebForms </b></li>
                    <li> <b> ASP.NET MVC </b> </li>
                    <li> <b> JavaScript </b> </li>
                    <li> <b> HTML 5 </b> </li>

                    <li> <b>  Visual Studio </b> </li>
                    <ul>
                        <li> C# </li>
                    </ul>
                    <li> <b> Internet Information Services (IIS) </b> </li>
                    <li> <b> SQL Server Databases </b> </li>

                    <li> <b> Web-based APIs </b> </li>
                    <ul>
                        <li> JSON and XML data structures </li>
                        <li> ASP.NET Web API </li>
                    </ul>
                </ul>


            </p>
        </div>
        <div class="col-md-4">
            @*<h2 class="page-header">Something More</h2>
                <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <a href="#" class="btn btn-primary">Click Me!</a>*@
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Tabs -->
    @*<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Tabbed Services</h2>
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#service-one">Web development</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#service-two">Database Programming and design</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#service-three">Sales and Marketing</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#service-four">Web Hosting</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="service-one" class="tab-pane fade in active">
                        <i class="fa fa-gear pull-left fa-4x"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                        <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                    </div>
                    <div id="service-two" class="tab-pane fade">
                        <i class="fa fa-gears pull-left fa-4x"></i>
                        <p>At Ismaelo, we understand great database design.</p>
                        <p>Whether you need to fix your existing database, or move your database to the cloud, or are looking for a company that can design and program a new custom database app, you're at the right place.</p>
                        <p> Our custom databases are implemented in Microsoft SQL Server, with a front-end application, written in ASP.NET.</p>
                        </div>
                        <div id="service-three" class="tab-pane fade">
                            <i class="fa fa-magic pull-left fa-4x"></i>
                            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                        </div>
                        <div id="service-four" class="tab-pane fade">
                            <i class="fa fa-flask pull-left fa-4x"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
                            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                        </div>
                        <div id="service-five" class="tab-pane fade">
                            <i class="fa fa-flag pull-left fa-4x"></i>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                        </div>
                    </div>
            </div>
        </div>*@
    <!-- /.row -->
    <!-- Service Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Service</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/webdev750450.png" class="img-responsive">
            <h3>Web Development</h3>
            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/database750450.png" class="img-responsive">
            <h3>Database Programming and Design</h3>
            <p>At Ismaelo, we understand great database design.</p>
            <p>Whether you need to fix your existing database, or move your database to the cloud, or are looking for a company that can design and program a new custom database app, you're at the right place.</p>
            <p> Our custom databases are implemented in Microsoft SQL Server, with a front-end application, written in ASP.NET.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/SalesAndMarketing3.jpg" class="img-responsive">
            <h3>Sales and Marketing</h3>
            <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            @*<a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
        </div>
    </div>
    <!-- /.row -->
</div>